.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 20px;
}

.header-nav {
  display: flex;
  padding: 50px 0 0 50px;
  gap: 45px;
}

.first-li,
.lots-all-cards {
  list-style-type: none;
}

.header-img-logo {
  max-width: 145px;
  position: absolute;
  bottom: 90.2%;
  left: 50%;
  transform: translateX(-50%);
}

.header-address {
  white-space: normal;
  padding: 95px 80px 100px 0;
  text-align: left;
}

.cover {
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 757px;
  color: #fff;
}

.cover-text {
  flex: 1;
  padding: 15px 20px 0 50px;
  font-size: 100px;
  letter-spacing: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cover-top {
  padding-top: 165px;
}
.cover-center {
  text-align: center;
}

.cover-right {
  text-align: right;
}

.description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-self: end;
  padding: 50px;
  font-size: 22px;
  word-spacing: 20px;
}

.cover-button {
  background: none;
  color: inherit;
  border: none;
  padding: 12px;
}

.cover-button-border {
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
}

.lots {
  padding: 180px 24px 0 24px;
}

.lots h2 {
  font-style: bold;
  font-size: 40px;
  padding: 0 0 27px 40px;
}

.lots-all-cards {
  display: flex;
  gap: 25px;
  padding: 0 0 30px 0;
}
.lots-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  height: 596px;
  opacity: 1;
  color: white;
}

.lots-card h3,
.lots-card p {
  padding: 48px 40px 48px 40px;
  font-size: 20px;
}

.lots-all-cards h3 {
  font-style: bold;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
}

.lots-first-card {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/card-lot-01.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150% 100%;
}

.lots-second-card {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/card-lot-02.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150% 100%;
}

.lots-third-card {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/card-lot-03.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150% 100%;
}

.lots-seemore {
  padding: 0 0 0 44px;
  font-size: 20px;
}

.about {
  display: grid;
  grid-template-columns: 10fr 19fr;
  grid-template-rows: 1fr 2fr;
  padding: 150px 24px 0 24px;
  height: 600px;
}

.about h2 {
  grid-column: 2/3;
  align-self: center;
  font-size: 40px;
  font-style: bold;
}

.about-text {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
}

.about-round-logo {

  align-self: center;
  width: 240px;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  border-radius: 50%;

}

.about-logo {
  max-width: 140px;
}

.about-round {
  display: flex;
  align-items: center;
  background-color: black;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  padding: 35px 0 0 35px;
  align-self: center;
  justify-self: center;
}

.footer {
  padding: 300px 50px 80px 50px;
  display: flex;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  gap: 48px;
}

.footer-img {
  width: 48px;
}

.footer-address {
  padding: 0;
  text-align: left;
}

.footer-nav {
  text-align: center;
  list-style: none;
}